* {
    margin: 300;
    padding: 0;
}

.body {
    display: flex;
    flex-direction: column;
}

.header-section {
    display: flex;
    background-color: #1f2937;
    border: #ff0000 solid 2px;
}

.upper-header {
    display: flex;
}

.logo {
    display: flex;
    width: 45%;
}
.main-header {

}

.hero-image {
    display: flex;
    width: 35%;
    height: auto;
}

.example-loads {
    background-color: #f0ffff;
    border: #00f solid 2px;
}

.quote {
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
    background-color: #e5e7eb;
    border: red solid 2px;
}

.footer {
    background-color: #f0ffff;
    border: #00f solid 2px;
}

.button {
    background-color: #3882f6;
}

.headline {
    display: flex;
    color: #e5e7eb;
    font-size: 48px;
    font-weight: bolder;
}

.secondary {
    display: flex;
    color: #e5e7eb;
}

.italic {
    font-style: italic;
}

a {
    display: flex;
    text-decoration: none;
    color: #e5e7eb;
}