* {
    margin: 0 auto;
    padding: 0;
}

.body {
    width: 80vw;
    display: flex;
    flex-direction: column;
}

.header-section {
    display: flex;
    background-color: #1f2937;
    border: #ff0000 solid 2px;
}

.upper-header {
    display: flex;
}

.logo {
    display: flex;
    width: 45%;
    border-radius: 5px;
    margin: 8px;
}
.main-header {

}

.hero-image {
    display: flex;
    width: 35%;
    height: auto;
    border-radius: 8px;
}

.example-loads {
    display: flex;
    flex-wrap: wrap;
    padding: 0 150px;
    gap: 30px;
    background-color: #f0ffff;
    border: #00f solid 2px;
}


.load-1, .load-2, .load-3, .load-4, .load-5, .load-6, .load-7, .load-8, .load-9, .load-10 {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.load-pic {
    border-radius: 8px;
    width: 12vw;
    height: auto;
}

.places {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.location {
    width: 20vw;
    height: auto;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    padding: 100px 200px;
    background-color: #e5e7eb;
    border: red solid 2px;
}

.call-action { 
    display: flex;
    background-color: #f0ffff;
    border: #00f solid 2px;
}

.action-box {
    display: flex;
    background-color: #3882f6;

}

.footer {
    color: #e5e7eb;
    font-size: 12px;
    text-align: center;
    padding: 10px 0 25px;
    background-color: #1f2937;
    border: #f0ffff solid 2px;
}

.button {
    background-color: #3882f6;
}

.headline {
    display: flex;
    color: #e5e7eb;
    font-size: 48px;
    font-weight: bolder;
}

.text {
    color: #1f2937;
    font-size: 14px;
    width: 175px;
    text-align: center;
}

.info {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin: 25px 0;
}

.secondary { /* Might not need this */
    display: flex;
    color: #e5e7eb;
}

.italic {
    font-style: italic;
}

a {
    display: flex;
    text-decoration: none;
    color: #e5e7eb;
}